header {
  height: 100px;
  text-align: center;
}
header img {
  width: 250px;
  margin-bottom: 5px
}

.board {
  background: url('rajon-rondo-connect-four_crop_north.jpg');
  background-size: cover;
}

.container {
  border: 2px solid black;
  margin: auto;
  max-height: 750px;
  max-width: 780px;
  padding: 2px;
}

.boxes {
  border: 1px solid black;
  height: 110px;
  width: 110px;
  display: inline-block;
  vertical-align: top;
  background: #E8E113;
  margin: 0 -2px;
}

.circle {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 100px;
  background: white;
}

img {
  width: 80px;
  margin: 10px 0 0 10px;

}

.pieces {
  display: grid;
}
