header {
  height: 200px;
  text-align: center;
  background-color: red;
}
header img {
  width: 250px;
  margin-bottom: 5px
}

h1 {
  color: yellow;
  font-size: 100px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;

}

span {
  font-size: 30px;
}

#start, #stop {
  width: 100px;
  height: 30px;
  margin: 10px px;

}

.board {
  background: url('rajon-rondo-connect-four_crop_north.jpg');
  background-size: cover;
  z-index: 0;
  position: relative;
}

#player {
  height: 150px;
  width: 150px;
  display: inline-block;
  background: white;
  margin: 20px 0 0 15px;
  text-align: center;
  text-decoration: underline;
  float: left;
}

.container {
  margin: auto;
  max-height: 750px;
  max-width: 780px;
  padding: 2px;
}

.boxes {
  border: 1px solid #BFBF3F;
  height: 110px;
  width: 110px;
  display: inline-block;
  vertical-align: top;
  background: #E8E113;
  margin: 0 -2px;
}

.circle {
  height: 100px;
  width: 100px;
  border: 1px solid #FFC107;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 100px;
  background: white;
}

div img {
  width: 100px;
  border-radius: 110px;
}

.pieces {
  /*display: inline;*/
  /*background: yellow;*/
}


@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    body {
        width: 100%;
    }
    header {
      width: 100%;
    }
    .board {
      width: 100%;
    }
    .container {
      width: 100%;
    }
}

@media (max-width: 700px) {

  .pieces {
    display: inline-block;
  }
  .cur-player {
    background-color: teal !important;
    color: white !important;
    font-size: 16px !important;
    margin-left: 300px !important;
    top: 20px !important;
    border-radius: 10px;
  }
}
